.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    .carousel-object-container {
        transition: 1s;
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        text-align: center;
        img.carousel-object {
            width: 100%;
            display: block;
            height: 100%;
        }

        .text{
            text-align: center;
            font-size: 2em;
        }
        .top{
            position: absolute;
            top: 10px;
        }

        .right{
            position: absolute;
            right: 10px;
        }

        .left{
            position: absolute;
            left: 10px;
        }

        .bottom{
            position: absolute;
            bottom: 100px;
        }

        .middle{
            position: absolute;
            top: 40%;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
        &:not(:first-child){
            display: none;
        }
    }

    .tabs-container{
        background: rgba(255, 255, 255, 0.308);
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        .tabs{
            margin: auto;
        }
        li{
            display: inline-block;
            margin: 10px;
        }
    }
}