$flat-but-text: #ff8002;
$hr: rgba(0,0,0,.125);
$label: #9e9e9e;
$teal: teal;
$orange: #e65100;
$deep-orange: #dd2c00;
$amber: #ffab00;
$gainsboro: #dfdede;
$rusty-red: #d7263d;
$dark-turquoise: #25ced1;
$blue-gray: #eceff1;
$color-map:('dark-turquoise': $dark-turquoise,'rusty-red':$rusty-red,'pink': #ff4081, 'yellow': #ff8002, 'light-grey': #eeeeee, 'grey': #9e9e9e, 'teal': teal, 'orange': #e65100, 'deep-orange': #dd2c00, 'amber': #ffab00, 'gainsboro':$gainsboro, 'blue-grey':$blue-gray);

//alert colors
$error: #FF5252;
$warn: #FFC107;
$success: #1b5e20;
$info: #4CAF50;
$alert-map:('error': $error, 'warn': $warn, 'success': $success, 'info': $info);


$but-default: $dark-turquoise;
$shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.14);
