@import '../../helpers/color/color.scss';

.list {
  position: relative;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      padding: 15px 5px;
      border: 1px $hr solid;
      position: relative;
      cursor: pointer;

      .icon {
        position: absolute;
        right: 25px;
      }
    }

    .list-indicator {
      position: absolute;
      top: 0;
      right: 0;
      background: black;
      padding: 0;
      width: 5px;
      transition: .5s;
    }
  }

  .list-header {
    font-size: 25px;
    padding: 10px;
    box-shadow: $shadow;
    margin-bottom: 20px;
    float: left;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 5px;
    background: white;
    z-index: 1;

    .icon {
      float: left;
      padding: 10px;
      border-radius: 5px 0 0 5px;
    }
  }
}
