@import '../../helpers/color/color.scss';

.card {
  position: relative;
  box-shadow: $shadow;
  margin-top: 30px;
  margin-bottom: 50px;
  background: white;

  .head {
    font-size: 25px;
    padding: 10px;
    box-shadow: $shadow;
    margin: -20px 15px 0;
    float: left;
    border-radius: 5px;
    background: white;
    background: white;

    .icon {
      float: left;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      margin: -10px 10px -10px -10px;
    }
  }

  .head.full-width{
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .image {
    margin: -20px 15px 20px;
    float: left;
    width: -webkit-fill-available;
    width: -moz-available;
    position: relative;
    box-shadow: $shadow;
    border-radius: 0 0 5px 5px;

    img {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 0 0 5px 5px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .title {
      font-size: 25px;
      color: white;
      text-shadow: 1px 1px 1px black;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 10px;
    }
  }

  .tail {
    margin-top: 10px;
    border-top: 1px $hr solid;

    .but {
      padding: 15px 0;
      margin-right: 40px;
    }
  }

  .content {
    padding: 40px 15px 15px;
  }
}

.card.no-shadow {
  box-shadow: none;
}
