@import '../../helpers/color/color.scss';

.input-field {
  position: relative;
  margin: 0 0 20px;

  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $hr;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: ease-out .6s;

    &:focus {
      border-bottom: 1px solid $but-default;
    }
  }

  [type='checkbox']:checked,
  [type='checkbox']:not(:checked),
  [type='radio']:checked,
  [type='radio']:not(:checked) {
    opacity: 0;
    z-index: 10;
  }

  [type='radio']:checked ~ label,
  [type='radio']:not(:checked) ~ label {
    position: relative;
    padding-left: 10px;
    z-index: 0;
    cursor: pointer;

    &:before {
      cursor: pointer;
      content: '';
      border: 1px solid $but-default;
      content: '';
      position: absolute;
      border-radius: 50%;
      left: -23px;
      top: 0;
      width: 16px;
      height: 16px;
      z-index: 0;
      transition: .4s ease;
      background: linear-gradient(to bottom, white 50%, $but-default 50%);
      background-size: 100% 200%;
      background-position: left top;
    }

    &:after {
      content: '';
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 16px;
      height: 16px;
      z-index: 0;
      -webkit-transition: .28s ease;
      transition: .28s ease;
    }
  }

  [type='radio']:checked ~ label {
    &:before {
      background-position: right bottom;
    }
  }

  [type='checkbox']:checked ~ label,
  [type='checkbox']:not(:checked) ~ label {
    position: relative;
    padding-left: 10px;
    z-index: 0;
    cursor: pointer;

    &:before {
      cursor: pointer;
      content: '';
      border: 1px solid $but-default;
      content: '';
      position: absolute;
      left: -23px;
      top: 0;
      width: 16px;
      height: 16px;
      z-index: 0;
      transition: .4s ease;
    }

    &:after {
      content: '';
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 16px;
      height: 16px;
      z-index: 0;
      -webkit-transition: .28s ease;
      transition: .28s ease;
    }
  }

  [type='checkbox']:checked ~ label {
    &:before {
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $but-default;
      border-bottom: 2px solid $but-default;
      display: inline-block;
      transform: rotateZ(390deg);
      top: 0;
      left: -23px;
      width: 8px;
      transform-origin: 100% 100%;
    }
  }

  select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $but-default;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: ease-out .6s;
    cursor: pointer;
  }

  textarea {
    margin: 5px;
  }

  label {
    transition: .3s ease-in;
    transform-origin: 0 100%;
    transform: translateY(20px);
    position: absolute;
    font-size: 1rem;
    color: $label;
    cursor: text;
  }

  label.active {
    transform-origin: 0 0;
    transform: translateY(-12px) scale(.9);
    color: $but-default;
  }

  .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
  }

  i.prefix {
    transform: translateY(20px);
  }

  i.prefix.active {
    color: $but-default;
  }

  .prefix ~ input,
  .prefix ~ label,
  .prefix ~ textarea {
    margin-left: 3rem;
    width: calc(100% - 3rem);
  }

  .hints{
    position: relative;
    text-align: right;
    margin-right: 10px;
    color: $label;
    display: none;
    li{
      list-style: none;
    }
  }
}

.input-field.inline {
  display: inline-block;
  margin-left: 5px;
}
