@import '../../helpers/color/color.scss';
@keyframes a-ripple {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, .55);

  .c-ripple.is-active & {
    //animation: a-ripple .4s ease-in;
  }
}

.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.ripple-dark {
  .c-ripple__circle {
    background: rgba(0, 0, 0, .4);
  }
}

.round {
  .c-ripple__circle {
    border-radius: 50%;
  }

  .c-ripple {
    border-radius: 50%;
  }
}
@mixin ripple-color-modifier($color, $class) {
  .ripple-#{$class} {
    .c-ripple__circle {
      background: $color;
    }
  }
};
@include ripple-color-modifier($teal, 'teal');