@import '../helpers/color/color.scss';
@each $c-name,
$bgcolor in $color-map {
  $hover-color: hover($bgcolor, lighten($bgcolor, 10));
  @if (lightness($bgcolor) > 50) {
    $hover-color: darken($bgcolor, 10);
  }
  @else {
    $hover-color: lighten($bgcolor, 10);
  }
  .bg-#{$c-name} {
    background: $bgcolor;
    color: set-text-color($bgcolor);
  }
  .list.bg-#{$c-name} {
    li.list-indicator {
      background: set-text-color($hover-color);
    }
    .list-header {
      background: rgba(white, .95);
      color: set-text-color(rgba(white, .9));
    }
    li {
      &:hover {
        background: $hover-color;
        color: set-text-color($hover-color);
        a {
          color: set-text-color($hover-color);
        }
      }
    }
  }
  .nav.bg-#{$c-name} {
    a {
      color: set-text-color($bgcolor);
    }
    li {
      &:hover {
        background: $hover-color;
        a {
          color: set-text-color($hover-color);
        }
      }
      a.active {
        background: lighten($bgcolor, 10%);
        color: set-text-color(lighten($bgcolor, 10%));
      }
    }
    ul li a {
      color: set-text-color($bgcolor);
    }
    li.nav-indicator {
      background: set-text-color($hover-color);
    }
  }
  .card.bg-#{$c-name} {
    @extend .card;
    color: set-text-color($bgcolor);
    background: $bgcolor;
    .head {
      background: rgba(white, .95);
      color: set-text-color(rgba(white, .9));
      .icon {
        background: $bgcolor;
        color: set-text-color($bgcolor);
        margin: -10px 10px -10px -10px;
      }
    }
    .tail {
      border-top: 1px $hr solid;
      .but {
        color: set-but-color($bgcolor);
      }
    }
  }
  table.striped-#{$c-name} {
    tbody {
      tr {
        &:nth-child(even) {
          background: $bgcolor;
          color: set-text-color($bgcolor);
        }
      }
    }
  }
  table.hover-#{$c-name} {
    tr{
      &:hover {
        background: $bgcolor;
      }
    }
  }
}