body,
html {
    margin: 0;
    padding: 0;
}

.clear-both {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.shadow{
    box-shadow: $shadow;    
}

.no-shadow{
    box-shadow: none !important;
    border: 1px solid $hr;
}

.fixed{
    position: fixed;
}