@for $width from 1 to 10 {
  .width-#{$width*10} {
    width: #{$width}0%;
  }
}

.row {
  display: flex;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @for $width from 1 to 13 {
    .s#{$width} {
      flex-basis: 8.33333333% * $width;
      max-width: 8.33333333% * $width;
      width: 8.33333333% * $width;
      box-sizing: border-box;
      @media only screen and (max-width: 768px) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  @for $offset from 1 to 12 {
    .offset-#{$offset} {
      margin-left: 8.33333333% * $offset;
      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

@for $height from 1 to 11 {
  .height-#{$height*10}vh {
    height: #{$height}0vh;
  }
}

@for $padding from 0 to 11 {
  .padding-#{$padding}{
    padding: #{$padding}0px;
  }
}

@for $margin from 0 to 11 {
  .margin-#{$margin}{
    margin: #{$margin}0px;
  }
}