.text-center{
    text-align: center;
    display: block;
}
.text-right{
    text-align: right;
    display: block;
}
.text-justify{
    text-align: justify;
    display: block;
}
.text-bold{
    font-weight: bold;
}

blockquote{
    @extend .shadow;
    padding: 15px 20px 15px 45px;
    margin: 20px 0px;
    display: block;
    position: relative;
    border-left: 10px solid $orange;
    border-right: 2px solid $orange;
}

blockquote::before{
    content: "\201C";
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top:5px;
}

blockquote a{
    text-decoration: none;
    cursor: pointer;
    padding: 0 3px;
    color: $orange;
}