@import '../../helpers/color/color.scss';
.alert {
    li {
        padding: 15px;
        list-style: none;
        margin: 2px;
    }
    @each $class-name,
    $color in $alert-map {
        .#{$class-name} {
            border: solid 1px $color;
            background: lighten($color: $color, $amount: 20%);
            color: set-text-color(lighten($color: $color, $amount: 20%));
            border-radius: 1px;
            .icon {
                float: left;
                margin: -15px;
                padding: 15px;
                width: 15px;
                text-align: center;
                margin-right: 10px; 
                border-radius: 1px 0 0 1px;
                background: $color;
                color: set-text-color($color);
            }
        }
    }
}