.model-container {
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: rgba(0,0,0,.12);
    position: absolute;
    .model {
        height: 70vh;
        width: 50vw;
        display: block;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 15%;
        background:white; 
        
        
    }
}