@import '../../helpers/color/color.scss';
@mixin content() {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center, top;
    transform-origin: 100% 0;
}

@mixin full-page-scroll-left-right($property, $value) {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    #{$property}: $value;
}

.full-scroll {
    width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden;
    div[class^="full-page-"] {
        position: absolute;
        height: 100vh;
        width: 100%;
        .full-window {
            @include full-page-scroll-left-right(left, 0%);
            transform: translate3d(0, 100vh, 0);
            .full-scroll-content {
                @include content();
            }
        }
        &.active {
            .full-window {
                animation: activate 1s forwards ease-in;
            }
        }
        &.in-active {
            .full-window {
                animation: deactivate 1s ease-in forwards;
            }
        }
    }
}

@keyframes activate {
    from {
        transform: translate3d(0, 100vh, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes deactivate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(0, 100vh, 0);
    }
}