@import '../../helpers/color/color.scss';

.but {
  padding: 15px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: $shadow;
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
  background: $but-default;
  color: white;
  font-size: 15px;

  &:hover {
    box-shadow: $shadow;
    background: lighten($but-default, 10%);

    &:after {
      opacity: 1;
    }
  }
}

.but.large {
  font-size: 30px;
}

.but.round {
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 56px;
  height: 56px;
  line-height: 56px;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
}

.but.round.large {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.but.round.small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.but.flat {
  box-shadow: none;
  background: none;
  color: $flat-but-text;

  &:hover {
    color: darken($flat-but-text, 20%);
  }
}
