.tabs-container{
    width: 100%;
    position: relative;
    .tabs-window-container{
        width: 100%;
        overflow: hidden;
        .tabs-window{
            width: 100%;
            display: inline-block;
            position: absolute;
    
         }
     }
}