@import '../../helpers/color/color.scss';

.nav {
  width: 100%;
  position: relative;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;

      a {
        color: black;
        text-decoration: none;
        font-weight: 800;
        padding: 20px;
      }
    }

    li.nav-indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      background: black;
      height: 4px;
      transition: .5s;
    }
  }

  .logo {
    position: absolute;
    display: inline-block;
    font-size: 2.5rem;
    padding: .5rem;
    text-decoration: none;
    font-weight: 800;
  }
}
