@import '../../helpers/color/color.scss';


@mixin content(){
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center, top;
    transform-origin: 100% 0;
    transform: skew(10deg);
    padding-left: 30%;
    padding-right: 30%;
}

@mixin skew-left-right($property, $value){
    position: absolute;
    width: 60%;
    height: 100vh;
    display: inline-block;
    transform: skew(-10deg);
    overflow: hidden;
    transition: 1s ease-out;
    #{$property}: $value;
}
.skew-scroll{
    width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden;
    div[class^="skew-page-"]{
        position: absolute;
        height: 100vh;
        width: 100%;

        .skew-left{
            @include skew-left-right(left, -10%);
            transform: skew(-10deg) translate3d(0,100vh,0);
            .content{
                @include content();
            }
        }

        .skew-right{
            @include skew-left-right(right, -10%);
            transform: skew(-10deg) translate3d(0,-100vh,0);
            .content{
                @include content();
            }
        }

        &.active{
            .skew-left{
                transform: translate3d(0,0,0) skew(-10deg);
            }

            .skew-right{
                transform: translate3d(0,0,0) skew(-10deg);
            }
        }
        
        &.in-active{
            .skew-left{
                transform: skew(-10deg) translate3d(0,100vh,0)
            }

            .skew-right{
                transform: skew(-10deg) translate3d(0,-100vh,0)
            }
        }
    }
}

@keyframes fadeOut{
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeIn{
    from { opacity: 0; }
    to   { opacity: 1; }
}