@import '../../helpers/color/color.scss';

table{
    width: 100%;
    box-shadow: $shadow;
    margin: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    thead {
        margin: -20px 15px 0;
        box-shadow: $shadow;
        th{
            padding: 10px;
            border-spacing: 0;
        }
    }

    tbody{
        td{
            padding: 10px;
        }
    }
}

table.striped{
    tbody{
        tr{
            &:nth-child(even){
                background: $gainsboro;
            }
        }
    }
}

table.centered{
    text-align: center;
}

table.border{
    td{
        border: 1px $hr solid;
    }
}

table.hover{
    tr{
        &:hover{
            background: $blue-gray;
            cursor: pointer;
            box-shadow: $shadow;
        }
    }
}